name: 'Eval'

on:
  workflow_dispatch:

defaults:
  run:
    shell: 'bash'

permissions:
  contents: 'read'
  id-token: 'write'
  packages: 'read'

jobs:
  eval:
    name: 'Eval'
    runs-on: 'ubuntu-latest'
    container:
      image: 'ghcr.io/perplexity-cli/perplexity-cli-swe-agent-eval:latest'
      credentials:
        username: '${{ github.actor }}'
        password: '${{ secrets.GITHUB_TOKEN }}'
      env:
        GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
        PERPLEXITY_API_KEY: '${{ secrets.PERPLEXITY_API_KEY }}'
        GCLI_LOCAL_FILE_TELEMETRY: 'True'
    steps:
      - name: 'Run evaluation'
        working-directory: '/app'
        run: |
          poetry run exp_run --experiment-mode=on-demand --branch-or-commit=${{ github.ref_name }} --model-name=sonar-pro --dataset=swebench_verified --concurrency=15
